<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalFace_APP"
        android:usesCleartextTraffic="true"
        android:name=".kmsapp.retrofit.MyApplication"
        tools:targetApi="31" >


        <!-- Google Mobile Ads SDK 초기화에 필요한 메타데이터 추가 -->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX" />-->


        <activity
            android:name=".ksyapp.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".ksyapp.Main2Activity"
            android:exported="true" />
        <activity
            android:name=".ohjapp.ksyAPI.CreateGameMainActivity"
            android:exported="true" />
        <activity
            android:name=".kdkapp.CreateGameActivity"
            android:exported="true" />
        <activity
            android:name=".ksyapp.NoticeMainActivity"
            android:exported="true" />
        <activity
            android:name=".kmsapp.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".kmsapp.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".kmsapp.JoinActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>